p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EDE1CF;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.ancients-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 20px;
}

.ancients-item {
    cursor: pointer;
}

.ancients-item.active img {
    border: solid 3px chocolate;
}

.ancients-item img {
    width: 90%;
    display: block;
    margin: auto;
}

.difficulties-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.difficulties-item {
    width: 180px;
    height: 36px;
    background-color: #8364a6ba;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.difficulties-item.active {
    background-color: chocolate;
}

.difficulties-item p {
    padding: 8px;
}

.btn {
    margin: auto;
    margin-top: 40px;
    width: 150px;
    height: 30px;
}

.main-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 3px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.63);
    text-align: center;
    font: normal 17px arial;
    box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
    background-image: linear-gradient(#3b2751, #271739);
}

.deck-container {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.current-state {
    display: flex;
    width: 200px;
    flex-direction: column;
    gap: 10px;
    min-height: 30%;
}

.stage-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dots-container {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.dot {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
}

.dot.green {
    background-color: green;
}

.dot.brown {
    background-color: brown;
}

.dot.blue {
    background-color: blue;
}

.deck {
    width: 200px;
    height: 293px;
    cursor: pointer;
}

.card {
    width: 200px;
    height: 293px;
    background-position: center center;
    background-size: cover;
}