p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EDE1CF;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.ancients-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.ancients-item {
    cursor: pointer;
}

.ancients-item.active {
    border: solid 3px red;
}

.ancients-item img {
    width: 100%;
}

.difficulties-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.difficulties-item {
    width: 180px;
    height: 36px;
    background-color: blueviolet;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}

.difficulties-item p {
    padding: 8px;
}

.btn {
    margin-top: 40px;
}

.main-btn {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.deck-container {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.current-state {
    display: flex;
    width: 200px;
    flex-direction: column;
    gap: 10px;
    min-height: 30%;
}

.stage-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dots-container {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.dot {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
}

.dot.green {
    background-color: green;
}

.dot.brown {
    background-color: brown;
}

.dot.blue {
    background-color: blue;
}

.deck {
    background-image: url('assets/mythicCardBackground.png');
    width: 200px;
    height: 293px;
}

.card {
    width: 200px;
    height: 293px;
}